/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

 #parent {
  display: flex;
  }

  #scores {
    width: 200px;
    background: lightblue;
    /* Just so it's visible */
  }

  #board {
    border-collapse: collapse;
    font-family: monospace;
    flex: 1;
    /* Grow to rest of container */
    background: radial-gradient(lightgreen, green);
    /* Just so it's visible */
    
  }
  
  
  #winner {
    margin-top: 25px;
    width: 168px;
    text-align: center;
  }
  
  tile {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #555;
    height:50;
    width: 50;
    line-height: 50px;
    border: 3px solid #aaa;
    background: radial-gradient(#31572c, #132a13);
  }
  
  tile.active {
    cursor: pointer;
    background: #eeffe9;
  }
  
  tile.active:hover {
    background: #eeffff;
  }