<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Welcome to the Backend Server API!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Create models, Manage Users, Check Status">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<h1>Welcome to Backend Server API!</h1>
<p>Mange users, create models, check status</p>

{question}

<p> Following are some endpoints: </p>
<ul>
    <li>/intialize : Loads the database and populates the question database</li>
    <li>/random: Get a random question with answer </li>
</ul>
</body>
</html>
